<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{url_for('formulario')}}" method="POST">
        <label>Título</label><br>
        <input type="text" name="Titulo" id=""><br>
        <label>Artista</label><br>
        <input type="text" name="Artista" id=""><br>
        <label>Gênero</label><br>
        <input type="text" name="Genero" id=""><br>
        <label>Duração</label><br>
        <input type="text" name="Duracao" id=""><br>

        <input type="submit" value="Enviar">

    </form>
    <br>
    <br>
    <button><a href="{{url_for('tabela')}}">IR PARA A TABELA</a></button>


</body>
</html>